.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@font-face {
  font-family: "DMSans-Medium";   /*Can be any text*/
  src: local("DMSans-Medium"),
    url("./fonts/DMSans-Medium.ttf") format("truetype");
}


@font-face {
  font-family: "DMSans";   /*Can be any text*/
  src: local("DMSans-Regular"),
    url("./fonts/DMSans-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Metrisch-Bold";   /*Can be any text*/
  src: local("Metrisch-Bold"),
    url("./fonts/Metrisch-Bold.otf") format("truetype");
}


@font-face {
  font-family: "Metrisch-Medium";   /*Can be any text*/
  src: local("Metrisch-Medium"),
    url("./fonts/Metrisch-Medium.otf") format("truetype");
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
